---
layout: page
description: "北美最有价值的学生攻略。留学生必备的信息，技巧，知识，等等。"
header-img: "img/post-bg-2015.jpg"
subtitle: "-北美最有价值的学生攻略"
---

<h1>最新热门:</h1>

{% for post in site.categories.top %}
    <div class="post-preview">
    <a href="{{ post.url}}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        <!--on {{ post.date | date: "%B %-d, %Y" }}-->
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} 
    </p>
</div>
<hr>
{% endfor %}

<h1>最新文章:</h1>
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>

        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        <!--on {{ post.date | date: "%B %-d, %Y" }}-->
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} 
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
