<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- magnific-popup CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ " /css/hux-blog.min.css " }}">
<!-- Pygments Github CSS -->
<link rel="stylesheet" href="{{ " /css/syntax.min.css "}}">