<head>
    {% seo %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">



    {%include csslib.html%}


    <div id='wx_pic' style='margin:0 auto;display:none;'>
        <img src="/img/logo.png" />
    </div>
    <!--//SumoMe-->
    <script src="//load.sumome.com/" data-sumo-site-id="6c2b0f66db8375f1dfccb88960979e9e313c96e654d5c1ea2f4fbe19177475a4" async="async"></script>
    <!--//Ads-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3020773083178236",
            enable_page_level_ads: true
        });
    </script>

</head>
