<div class="col-lg-12 col-lg-offset-2
                col-md-10 
                sidebar-container">
    <section>
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style_m"></div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_m.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    </section>
</div>
<div class="col-lg-12
                col-md-10 
                sidebar-container">
    <section>
        <hr>
    </section>
</div>
 