<div class="col-lg-12 col-lg-offset-2
                col-md-10 
                sidebar-container">
    <section>
        <div class="jiathis_style_32x32"><span class="jiathis_txt">分享到:</span>
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_fb"></a>
            <a class="jiathis_button_cqq"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_douban"></a>
        </div>
        <script type="text/javascript">
            var jiathis_config = {
                siteNum: 2,
                sm: "weixin,cqq",
                summary: "",
                boldNum: 2,
                shortUrl: false,
                hideMore: false
            }
        </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->

        <!-- JiaThis Button END -->
    </section>
</div>
<div class="col-lg-12
                col-md-10 
                sidebar-container">
    <section>
        <hr>
    </section>
</div>