<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
    <!--//Ads-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3020773083178236",
        enable_page_level_ads: true
      });
    </script>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

</html>
